@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import "header.scss";
@import "slider.scss";
@import "footer.scss";
@import "contact.scss";
@import "advantage.scss";
@import "our-team";
@import "info";

body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    outline-color: #EA4B14;
}
h2{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

img{
    box-shadow: 10px 10px 1px #e2e2e2;
    border-radius: 5px;
    // Убрать все лишние бордеры
}
